<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.findyourtechnician">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:label="@string/title_activity_user_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TechnicianProfileRegistration"
            android:label="@string/title_activity_technician_profile_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserRegistration"
            android:label="@string/title_activity_user_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TechnicianDetails"
            android:label="@string/title_activity_technician_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubCategoryPage"
            android:label="@string/title_activity_sub_category_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".technicians_list"
            android:label="@string/title_activity_technicians_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".technician_profile_registration2"
            android:label="@string/title_activity_technician_profile_registration2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SuccessScreen"
            android:label="@string/title_activity_success_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
